---
import Layout from "../layouts/Layout.astro";
import RowImageText from "../components/RowImageText.astro";
import ContactBtn from "../components/ContactBtn.astro";
---

<Layout title="Lote Lucerna Boyacá">
	<main>
		<header>
			<h1>
				Lote
				<span style="color: var(--yellow-web)">Lucerna</span>
			</h1>
		</header>
		<span class="back-line"></span>
		<span class="back-line"></span>

		<div class="hero">
			<div class="hero-img"></div>
		</div>

		<div class="detail-box-container">
			<div class="detail-box">
				<ul>
					<li>Ubicado en Sotaquirá - Boyacá</li>
					<li>Lote esquinero</li>
					<li>Al sur de Paipa, y al norte de Cómbita</li>
					<li>A 3 hrs de Bogotá</li>
				</ul>
				<div class="price">$ 250.000.000</div>
			</div>
		</div>

		<div style="text-align: center; margin-bottom: 6rem; padding: 0 2rem">
			<p>
				¿Te gustaría vivir en un lugar rodeado de naturaleza,
				tranquilidad y aventura, donde tendras la posibilidad de
				construir la casa de tus sueños? Si tu respuesta es sí, lo
				siguiente te podría interesar.
			</p>
		</div>

		<RowImageText
			image="https://i.postimg.cc/dVDy4q2x/vista-completa-lotes.jpg"
		>
			<Fragment slot="text">
				<article>
					<p>
						Se trata de una hermosa propiedad ubicada en una zona
						rural, con un amplio terreno y una vista espectacular.
					</p>
					<p>
						El terreno tiene suficiente espacio para que diseñes y
						edifiques la casa de tus sueños, con todas las
						comodidades y facilidades que deseas
					</p>
				</article>
			</Fragment>
		</RowImageText>

		<RowImageText
			image="https://i.postimg.cc/dVDy4q2x/vista-completa-lotes.jpg"
			reverse
		>
			<Fragment slot="text">
				<article>
					<p>
						Posee una tierra fértil y propicia para cultivar
						productos propios del clima del municipio (papa,
						arándanos, ciruela, feijoa, maiz, durazno, haba, uchuva
						y hortalizas.)
					</p>
				</article>
			</Fragment>
		</RowImageText>

		<div style="text-align: center; margin-bottom: 6rem; padding: 0 2rem">
			<p>
				Pero lo mejor de esta propiedad es su ubicación. Está cerca de
				lugares increíbles para hacer caminatas ecológicas, visitar
				paramos y cascadas, observar aves y animales silvestres,
				respirar aire puro y disfrutar de la paz y la armonía que solo
				la naturaleza te puede ofrecer. (Cascada el chorro de la vieja,
				el Cerro de Santo Eccehomo, Laguna Rica, Laguna Negra, Alto de
				San Antonio, Cerro de San Nicolás, Alto de las Cruces y Montaña
				de Palermo).
			</p>
		</div>

		<RowImageText
			image="https://i.postimg.cc/dVDy4q2x/vista-completa-lotes.jpg"
		>
			<Fragment slot="text">
				<article>
					<p>
						Imagina la oportunidad de despertar cada mañana con una
						hermosa vista de las montañas y el sonido de las aves.
						Pasar tus fines de semana explorando senderos, admirando
						cascadas y descubriendo la magia de los paramos.
					</p>
					<p>
						Vivir en un lugar donde puedes desconectarte del estrés,
						la rutina , el ruido y contaminación de la ciudad.
					</p>
				</article>
			</Fragment>
		</RowImageText>

		<RowImageText
			image="https://i.postimg.cc/dVDy4q2x/vista-completa-lotes.jpg"
			reverse
		>
			<Fragment slot="text">
				<article>
					<p>
						Además, imagina compartir este lugar con tu familia y
						amigos. celebrar cumpleaños, aniversarios, navidades y
						otras ocasiones especiales en tu propia casa.
					</p>
					<p>
						Invitar a tus seres queridos a pasar unos días contigo ,
						disfrutar de actividades y crear recuerdos inolvidables
						en tu propio paraíso natural.
					</p>
				</article>
			</Fragment>
		</RowImageText>

		<div style="text-align: center; margin-bottom: 2rem; padding: 0 2rem">
			<p>
				Desde el punto de vista de inversión , el lote se encuentra en
				una zona con aumento en la demanda de zonas para construir y
				habitar, lo que en el futuro será bueno para la valorización del
				terreno. Por lo cual adquirir el lote antes será mas beneficioso
				en cuestión de obtener una mayor rentabilidad.
			</p>
			<p>
				Si ves una oportunidad aqui , no dudes en contactarme al
				siguiente número:
			</p>

			<p
				style="font-weight: 600; font-size: 30px; color: #248232; font-family: var(--p-font);"
			>
				311 593 3542
			</p>
		</div>

		<div class="back-img"></div>
		<div class="faq-container">
			<h3 style="margin-bottom: 2rem;">Preguntas frecuentes:</h3>

			<h4>¿Es negociable?</h4>
			<p style="margin-bottom: 2rem;">Si.</p>

			<h4>¿Por que el precio?</h4>
			<p style="margin-bottom: 2rem;">
				Por la ubicación , potencial de revalorización y posibilidades
				de uso que te ofrece el lugar con 2.000 m2 de extensión. El cual
				podrás aprovechar y disfrutar cuando quieras, y suponiendo que
				nunca decidas venderlo podrás heredarlo a las siguientes
				generaciones de tu familia.
			</p>

			<h4>Información adicional:</h4>
			<p>
				A 10 min del pueblo del Municipio de Sotaquirá en auto, y a 15
				minutos de ciudades principales como Paipa.
			</p>
		</div>

		<ContactBtn />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 100%;
		max-width: 1200px;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		color: #2d3a3a;
	}
	p {
		color: #2d3a3a;
		margin-bottom: 1rem;
		font-size: 22px;
	}
	header {
		text-align: center;
		position: relative;
		margin-bottom: 5rem;
		color: #2d3a3a;
		font-family: var(--carter-font);
		font-weight: 600;
		z-index: 10;
		height: 500px;
	}

	.back-line {
		position: absolute;
		top: 5rem;
		left: 0;
		width: 100%;
		height: 20px;
		background-color: #2d3a3a;
		z-index: -1;
	}
	.back-line:nth-child(2) {
		top: 7rem;
	}
	header h1 {
		font-size: 80px;
		margin-top: 1rem;
		line-height: 4.5rem;
		padding: 2rem 1rem;
	}

	.hero {
		margin-bottom: 5rem;
		width: 100%;
		max-width: 1200px;
		position: absolute;
		top: 0;
		background-image: url("https://i.postimg.cc/vHR8JX7v/IMG-20240110-WA0002.webp");
		background-position: center;
		background-size: cover;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
	}

	.detail-box-container {
		display: flex;
		justify-content: center;
		padding: 0rem 0.5rem;
		margin: -10rem auto 6rem auto;
	}

	.detail-box {
		width: fit-content;
		padding: 1rem 2rem;
		background-color: #2d3a3a;
		color: white;
		border-radius: 8px;
	}
	.detail-box .price {
		font-size: 30px;
		font-weight: 600;
		font-family: var(--carter-font);
		text-align: center;
		color: var(--yellow-web);
		padding: 1rem;
	}
	article {
		color: rgb(0, 37, 31);
		font-size: 22px;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 0rem 1rem;
	}

	.faq-container {
		position: relative;
		background-color: #2d3a3a;
		color: white;
		padding: 0rem 1rem 3rem 2rem;
	}

	.back-img {
		background-image: url("/footer.svg");
		background-position: bottom;
		background-size: cover;
		background-repeat: no-repeat;
		height: 240px;
		width: 100%;
		margin-bottom: -2rem;
	}

	.faq-container svg {
		position: absolute;
		top: -19rem;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.faq-container p {
		color: white;
	}
</style>
