---

---

<div class="whatsapp-btn">
    <a
        href="https://wa.me/573115933542?text=Hola,%20me%20interesa%20el%20lote%20que%20estás%20vendiendo"
        target="_blank"
        rel="noreferrer noopener"
    >
        <p>Contáctame</p>
        <img src="/whatsapp-btn.png" alt="boton de whatsapp para contacto" />
    </a>
</div>
<style>
    .whatsapp-btn {
        position: fixed;
        bottom: 2rem;
        right: 1.5rem;
        z-index: 50;
    }

    .whatsapp-btn a img {
        width: 70px;
        height: 70px;
    }
    .whatsapp-btn a {
        text-decoration: none;
    }
    .whatsapp-btn a p {
        font-family: var(--p-font);
        font-size: 12px;
        padding: 0.5rem;
        background-color: #ffffff;
        color: #000000;
        text-decoration: none;
        border-radius: 5px;
        border: 1.3px solid #80808047;
        box-shadow: var(--shadow);
        text-align: center;
        margin: 0;
    }

    @media screen and (max-width: 600px) {
        .whatsapp-btn {
            bottom: 2rem;
            right: 0.5rem;
        }
    }
</style>
