---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Thasadith:ital,wght@0,700;1,700&display=swap");

	:root {
		--p-font: "Thasadith", sans-serif;
		--yellow-web: #f0a202;
		--carter-font: "Carter One", cursive;
		--shadow: 2px 2px 2px #8080804d;
	}
	html {
		font-family: system-ui, sans-serif;
		background: rgb(249, 245, 255);
		background-size: 224px;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
